/* Titolo principale */
h1{
    font-size: 40px;  
}

#booleaner{
    color:blue;
}

.frase_evidenziata{
    background-color: yellow;
}

#intestazione_tabella{
    color:white;
    background-color: rgb(5, 5, 238);
}
    
.sfondo_azzurro{
    background-color: aquamarine;
}

header{
    background-color: aqua;
     background-image: url("../../html-css-booleaner/img/pattern.png");   
}

#logo{
    width: 20%;
    height: 500%;
}